/*

#415C15
#D0F792
#9CDE33
#4A5C2C
#7AAD28

*/

:root{

    --cor01: #415C15;
    --cor02: #D0F792;
    --cor03: #9CDE33;
    --cor04: #4A5C2C;
    --cor05: #7AAD28;
}

*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color:var(--cor01);
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: var(--cor01);
    margin-left: 9.5%;
}

fieldset{
    border: 0;
}

body{
    background-color: cornsilk;
    font-family: sans-serif;
    font-size: 1em;
    color: var(--cor05);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,select,textarea,button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: var(--cor05);
    display: block;
}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid var(--cor01);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo section:focus, .campo textarea:focus{
background: white;
}

.botao{
   font-size: 1.2em;
   background: var(--cor04); 
   border: 0;
   margin-bottom: 1em;
   color: #ffffff;
   padding: 0.2em 0.6em;
   box-shadow: 2px 2px 2px black rgba(0,0,0,0.2);
   text-shadow: 1px 1px 1px black rgba(0,0,0,0.5);
   position: absolute;
   top:90%;
   left: 48%;
   margin-right: -50%;
   transform: translate(-50%, -50%); 
}

.botao:hover{
    background: var(--cor03);
    box-shadow: inset 2px 2px 2px var(--cor04);
    text-shadow: none;
}

#checkbox{
    display: inline-block;
}
.botao, select{
    cursor: pointer;
}

.grupo:before, .grupo:after{
    display: table;
}

.grupo::after{
    clear: both;
}
